
<div class="list">
    <div class="header-create">
        <button mat-raised-button color="primary" routerLink="create">
          <span class="ml1">Créer un thème</span>
        </button>
    </div>

    <div class="items" fxFlex>

        <mat-card class="item" *ngFor="let topic of (topics$ | async)" fxFlex>
            <mat-card-title>
                <h2>{{topic.name | titlecase}}</h2> 
            </mat-card-title>

            <mat-card-content class="content">
                <p>Description: {{ topic.description }}</p>
            </mat-card-content>

            <mat-card-actions class="btns-action">
                <button class="btn-action" *ngIf="!topic.users.includes(userId) && topic.id" mat-raised-button color="primary" (click)="subscribe(topic.id)">
                    <span class="ml1">S'abonner</span>
                </button>

                <button class="btn-action" *ngIf="topic.users.includes(userId) && topic.id" mat-raised-button color="warn" (click)="unSubscribe(topic.id)">
                    <span class="ml1">Se désabonner</span>
                </button> 
            </mat-card-actions>

        </mat-card>
    </div>
</div>
  

