
<div class="list">
    <div class="header-create">
        <button mat-raised-button color="primary" routerLink="create">
            <span class="ml1">Créer un article</span>
        </button>

        <p>Trier par &darr;</p>
    </div>

    <div class="items" fxFlex>

        <mat-card class="item" [routerLink]="['detail',post.id]" *ngFor="let post of (posts$ | async)" fxFlex>

            <mat-card-title>
                <h2>{{ post.title | titlecase }}</h2>                
            </mat-card-title>

            <mat-card-subtitle class="header-subtitle">
                <p>Date: {{ post.createdAt | date: 'longDate'}}</p>
                <p>Auteur: {{ post.user_name | titlecase }}</p>                
            </mat-card-subtitle>

            <mat-card-content class="content">
                <p>Content: {{ post.content }}</p>
            </mat-card-content>
        
        </mat-card>
    </div>
</div>
  
