
<mat-toolbar>
    <img src="/assets/logo_p6.png" alt="logo" />
</mat-toolbar>

<span class="arrow-left" (click)=back()>&larr;</span>

<div class="login">
    <h2>Se connecter</h2>
        
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">

        <div class='inputField'>
            <input type="email" class="mat-input" matInput placeholder="" formControlName="email">

            <span class="fakePlaceholder">
                E-mail ou nom d'utilisateur
            </span>
        </div>

        <div class='inputField'>
            <input type="password" class="mat-input" matInput [type]="hide ? 'password' : 'text'" placeholder=""
            formControlName="password">

            <span class="fakePlaceholder">
                Mot de passe
            </span>
        </div>

        <button class="btn-submit" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Se connecter</button>

        <p *ngIf="onError" class="error">Erreur</p>
    </form>
</div>
