
<div class="detail-page">
    <div class="arrow-left">
        <span routerLink="/articles">&larr;</span>
    </div>

    <mat-card *ngIf="post" class="article">
        <mat-card-title>
            <h1>{{ title | titlecase }}</h1>
        </mat-card-title>

        <mat-card-subtitle class="subtitle">
            <div class="startp">
                <p>Date: {{ createdAt| date: 'longDate' }}</p>
                <p>Auteur: {{ author | titlecase }}</p>
            </div>            
            <p>Thème: {{ topic }}</p>
        </mat-card-subtitle>

        <mat-card-content>
            <p>Contenu: {{ content }} <br></p>
        </mat-card-content>

        <hr>

        <p>Commentaires</p>
        <app-comments-list></app-comments-list>

        <app-comments-form></app-comments-form>
    </mat-card>
</div>
  
