
.arrow-left {
    font-weight: 900;
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}
.arrow {
    display: none;
}

.detail-page {
    display: flex;
}

.article {
    width: 80%;
}
.subtitle {
    display: flex;
    .startp {
        display: flex;
        p {
            margin-right: 1rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .arrow-left {
        display: none;
    }
    .article {
        width: 100%;
        padding-left: 2rem;
    }
    .title {
        display: flex;
        gap: 2;
    }
    .arrow {
        display: block;
        font-weight: 900;
        font-size: 2rem;
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 1.5rem;
        cursor: pointer;
        span {
            position: absolute;
            top: 1rem;
            left: 2rem;
        }
    }
    .subtitle {
        display: block;
        .startp {
            width: 100%;
            p {
                width: 50%;
            }
        }
    }
}
