

h2 {
    text-align: center;
}
.profil {
    margin-top: 30px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
}
.profil-form {
    display: flex;
    flex-direction: column;
}
.mat-input {
    margin: 1rem 0;
    border: 1px solid black;
    border-radius: 5px;
    height: 2rem;
    width: 100%;
}
.inputField {
    position: relative;
}

.fakePlaceholder {
    position: absolute;
    font-weight: 100;
    font-size: 0.85rem;
    left: 0.1rem;
}

.btn-submit {
    margin: auto;
    width: 50%;
    border-radius: 0.5rem;
}

.logout {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    color: red;
}
.link-logout {
    cursor: pointer;
}

.list {
    margin-bottom: 2rem;
}

h3 {
    font-weight: bold;
}

.items {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.item {
    width: 50%;
    background-color: rgb(245, 245, 245);
}

.btns-action {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    .items {
        flex-direction: column;
        align-items: center;
        .item {
            width: 90%;
        }
    }
}

