
<div class="profil">
    <h2>Profil utilisateur</h2>

    <form class="profil-form" [formGroup]="meForm" (ngSubmit)="submit()">

        <div class="inputField">
            <input class="mat-input" matInput type="text" name="" id="" formControlName="userName">
        </div>
            
        <div class="inputField">
            <input class="mat-input" matInput type="email" formControlName="email">
        </div>

        <button class="btn-submit" mat-raised-button color="primary" type="submit" [disabled]="meForm.invalid">Sauvegarder</button>

        <span *ngIf="onError" class="error ml2">Erreur</span>
    </form>

    <p class="logout"> 
        <span class="link-logout" (click)="logout()">Se déconnecter</span> 
    </p>
</div>

<hr>

<div class="list">
    <h2>Abonnements</h2>

    <div class="items">
        <mat-card class="item" *ngFor="let topic of (topics$ | async)" fxFlex>
            <mat-card-title>
                <h3>{{ topic.name }}</h3>
            </mat-card-title>

            <mat-card-content>
                <p>Description: {{ topic.description }}</p>
            </mat-card-content>
                
            <mat-card-actions class="btns-action">
                <button class="btn-unsubscribe" *ngIf="topic.id" mat-raised-button color="warn" (click)="unSubscribe(topic.id)">
                    Se désabonner
                </button>
            </mat-card-actions>

        </mat-card>
    </div>
    
</div>
  
