
<div class="create">
    <div class="arrow-left">
        <span routerLink="/articles">&larr;</span>
    </div>

    <div class="create-article" *ngIf="postForm">
        <h2>Créer un nouvel article</h2>
        
        <form class="article-form" [formGroup]="postForm" (ngSubmit)="submit()">

            <div class='inputField'>         
                <mat-select class="mat-input" placeholder="Sélectionner un thème" formControlName="topic_name">
                    <mat-option *ngFor="let topic of topics$ | async" [value]="topic.name">{{topic.name}}</mat-option>
                </mat-select>
            </div>

            <div class='inputField'>
                <input class="mat-input" type="text" placeholder="Titre de l'article" matInput formControlName="title">
            </div>

            <div class='inputField'>
                <textarea class="textarea" placeholder="Contenu de l'article" matInput rows="8" formControlName="content"></textarea>
            </div>

            <button class="btn-submit" mat-raised-button color="primary" type="submit" [disabled]="postForm.invalid">
                Créer
            </button>
                
        </form>
    </div>
</div>
  
