
.toolbar-div {
    background-color: white;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

img {
    width: 7rem;
}

// .link {
//     cursor: pointer;
//     font-size: 16px;
//     text-decoration: none;
//     margin-left: 10px;
// }  

.app {
    .link {
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
    }

    .link + .link {
        margin-left: 10px;
    }
}