
<div class="create-comment" *ngIf="commentForm">
    <form class="comment-form" [formGroup]="commentForm" (ngSubmit)="submit()">  

        <div class='inputField'>
            <textarea class="textarea" placeholder="Écrivez ici votre commentaire" matInput rows="8" formControlName="content"></textarea>
        </div>
        
        <button class="btn-submit" mat-raised-button color="#fff" type="submit" [disabled]="commentForm.invalid">
            <img src="/assets/Paper-plane-icon-vector-09.svg" alt="send" />
        </button>
    </form>
</div>
  
