
<div class="create m3">
    <div class="arrow-left">
        <span routerLink="/themes">&larr;</span>
    </div>

    <div class="create-theme" *ngIf="topicForm">
        <h2>Créer un nouveau thème</h2>
        
        <form class="mt2 theme-form" [formGroup]="topicForm" (ngSubmit)="submit()">

            <div class='inputField'>
                <input class="mat-input" type="text" placeholder="Nom du thème" matInput formControlName="name">
            </div>

            <div class='inputField'>
                <textarea class="textarea" placeholder="Description du thème" matInput rows="8" formControlName="description"></textarea>
            </div>
            
            <button class="btn-submit" mat-raised-button color="primary" type="submit" [disabled]="topicForm.invalid">
                Enregistrer
            </button>

        </form>
    </div>
</div>
  
